body {
	padding:.1em;
}
/* HEADER
  ------------------------------ */
header hgroup aside{
	display:none;
}
header hgroup h1 {
	font-size: 1.7em;
}
header hgroup h2 {
	font-size: 1.2em;
}
/* Pagebreaks
  ------------------------------ */
.ugsNewPage{
	border-width:0;
	page-break-before:always;
}
/* Chord bracket formatting
 * ----------------------------- */
.ugsInline code strong {
        color:red;
        font-weight: bold;
}
/* Chord formatting
 * ----------------------------- */
.ugsChords code em {
	color:blue;
        font-weight: normal;
}
.ugsInline code em {
	color:red;
        font-weight: bold;
}
.ugs-source-wrap h5, .ugs-source-wrap h6 {
    line-height: 1.2;
}
/* TABS
  ------------------------------ */
/* wkhtmltopdf on this server only seems to supprt DejaVu Sans Mono as a mono font, and needs a larger font ...
   sized relative to the normal body font (40% larger) so it still tracks the selected font size */
.ugs-song-wrap .ugsTabs {
      margin:0.6em;
      padding:0;
      font-family: 'DejaVu Sans Mono', Monaco, Consolas, 'Lucida Console', 'Courier New', Courier, monospace;
      font-size: 1.4em;
      page-break-inside : avoid;
}
