body {
	padding:.1em;
}
/* HEADER
  ------------------------------ */
header hgroup aside{
	display:none;
}
/* Pagebreaks
  ------------------------------ */
.ugsNewPage{
	border-width:0;
	page-break-before:always;
}
/* Chord bracket formatting
 * ----------------------------- */
.ugsInline code strong {
        color:red;
        font-weight: bold;
}
/* Chord formatting
 * ----------------------------- */
.ugsChords code em {
	color:blue;
        font-weight: normal;
}
.ugsInline code em {
	color:red;
        font-weight: bold;
}
.ugs-source-wrap h5, .ugs-source-wrap h6 {
    line-height: 1.2;
}
> /* TABS
>   ------------------------------ */
> /* wkhtmltopdf on this server only seems to supprt DejaVu Sans Mono as a mono font, and needs a larger font ... */
.ugs-song-wrap .ugsTabs {
      margin:0.6em;
      padding:0;
      font-family:'DejaVu Sans Mono';
      font-size: 17pt;
      page-break-inside : avoid;
}
